.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

#container {
  width: 940px;
  height: 200px;
  height: 100%;
}

.row-header {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #bdb7a2;
}

#portfolio-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#interests-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#contact-section {
  background-color: #181a1b;
  height: 179px;
  color: #bdb7a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 174px;
  color: #bdb7a2;
}

#footer-footnote {
  color: rgb(154, 146, 132);
  font-size: 13px;
}
